<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.akshatapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hhh"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.testdrawer"
            android:label="@string/title_activity_testdrawer"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activities.NewRecord" />
        <activity android:name=".activities.candidateslist" />
        <activity android:name=".activities.Display" />
        <activity android:name=".activities.implicitintent">


        </activity>
        <activity android:name=".activities.Login" />
        <activity android:name=".activities.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>